<div class="blogs">
  <div class="container">
    <div class="blogs__row row">
      <% blogs.forEach(blog =>{%>
      <a href="/blogs/<%= blog._id%>" class="col-4 card">
        <img src="<%=blog.imgUrl %>" alt="" class="card__img" />
        <div class="card__inner">
          <h2 class="card__title"><%= blog.title %></h2>
          <p class="card_description"><%= blog.description %></p>
          <div class="card__row row">
            <span class="card__time"><%=blog.date %> </span>
            <button href="#" class="card__link" style="outline: none; border: none; background: transparent;">Read more</button>
          </div>
        </div>
      </a>
      <%}) %>
    </div>
  </div>
</div>
